@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Saira+Extra+Condensed:wght@400;700&display=swap');
$background-color: #ffffff;
$text-color: #868e96;
// $sidebar-background-color   : #bd5d38;
$sidebar-background-color: #2C5F2D;
$sidebar-text-color: #97BC62FF;
$zwart: #343a40;
$grijs: #868e96;
$oranje: $sidebar-text-color;
$white: #ffffff;
$linkedin-color: #0077b5;
$font1: 'Mulish',
sans-serif;
$font2: 'Saira Extra Condensed',
sans-serif;